<header>

    <nav class="nav collapsible">
        <a href="/" class="nav__brand">

        </a>
        <ul class="list nav__list collapsible__content">
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
        <a>
            <img />
        </a>
    </nav>

</header>