<div class="bg-dark">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg container navbar-toggleable-sm navbar-light d-inline-flex justify-content-between" id="navBar">
                <a asp-page="/" class="navbar-brand">
                    <img src="" alt="logo" class="text-white" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a asp-page="Index" class="nav-link text-white">دوره ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="Gallery" class="nav-link text-white">تخفیف ها</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="Order" class="nav-link text-white">بلاگ</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="About" class="nav-link text-white">همکاری با ما</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="ContactUs" class="nav-link text-white">تماس با ما</a>
                        </li>
                        
                        
                    </ul>
                </div>

            </nav>
        </div>
    </header>
</div>

