<section id="Banner" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>
                    لذت یادگیری
                    <br>
                    برنامه نویسی
                </h1>
                <p>
                    kiri
                </p>
                <a class="linear-btn linear-btn-all">
                    تمام دوره ها
                </a>
            </div>
            <div class="col-12 col-md-6">
            </div>
        </div>
    </div>
</section>

@code {

}
